@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@import "remixicon/fonts/remixicon.css";

@font-face {
  font-family: "Excalifont";
  src: url("/fonts/Font.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.excalifont {
  font-family: 'Excalifont', sans-serif;
}

